<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <link href="/sensee_styles/sensee.css" rel="stylesheet" />        
        <title>sensee</title>
    </head>
    <body>
        <div class="title">
            <a href="/sensee">
                <h1>sensee</h1>
            </a>
        </div>
        <div>
            <h3>Login</h3>
            <pre>
            <p id="login"><form name="login" action="/sensee/login%(url)s" method="post"><input name="username" type="text" title="Username"/> <input name="password" type="password" title="Password"/><button type="submit">login</button></form></p>
            %(status)s
            </pre>
        </div>
        <h4>&copy; sensee 2016</h4>
    </body>
</html>
